div {
  box-sizing: border-box;
}
.null {
  font-size: 0.14rem;
  color: #909399;
  text-align: center;
}
.null img {
  width: 100%;
  height: 0.94rem;
}
.van-picker__toolbar button {
  color: #3455D3;
  font-size: 0.17rem;
}
html {
  background: #ffffff;
}
.about {
  padding: 0.16rem;
}
.about .title {
  height: 0.25rem;
  font-size: 0.18rem;
  font-weight: bold;
  color: #2f3133;
  line-height: 0.25rem;
}
.about .content {
  font-size: 0.15rem;
  color: #2F3133;
  line-height: 0.3rem;
  margin-top: 0.16rem;
}
.about .content img {
  max-width: 3.43rem !important;
}
