div {
  box-sizing: border-box;
}
.null {
  font-size: .14rem;
  color: #909399;
  text-align: center;
}
.null img {
  width: 100%;
  height: .94rem;
}
html {
  background: #EEF0F3;
}
.detail {
  padding: .1rem;
  font-size: .14rem;
}
.detail .arbitration_detail {
  padding: .14rem .16rem .16rem;
  background: #ffffff;
}
.detail .arbitration-result,
.detail .refund-detail {
  margin-top: .12rem;
  padding: .14rem .16rem .16rem;
  background: #ffffff;
}
.detail .title {
  color: #2F3133;
  font-size: .16rem;
  font-weight: bold;
  height: .22rem;
  line-height: .22rem;
  box-sizing: content-box;
  padding-bottom: .14rem;
  border-bottom: .01rem solid #DFE4EB;
}
.detail .text {
  display: flex;
  color: #2F3133;
  margin-top: .1rem;
}
.detail .text span {
  width: .91rem;
  color: #909399;
  height: .18rem;
  line-height: .18rem;
  font-size: .13rem;
}
.detail .text div {
  width: 2.32rem;
}
.detail .imgs .img-title {
  color: #909399;
  margin-bottom: .04rem;
}
.detail .imgs .img img {
  width: .78rem;
  height: .78rem;
  margin-right: .04rem;
  margin-top: .04rem;
}
.detail .imgs .img img:nth-child(2n) {
  margin-right: .03rem;
}
.detail .imgs .img img:nth-child(4n) {
  margin-right: 0;
}
.detail .red {
  color: #F75658;
}
