div {
  box-sizing: border-box;
}
.null {
  font-size: 0.14rem;
  color: #909399;
  text-align: center;
  position: fixed;
  top: 29vh;
}
.null img {
  width: 100%;
  height: 0.94rem;
}
.van-picker__toolbar button {
  color: #3455D3;
  font-size: 0.17rem;
}
/*修改滚动条样式*/
html::-webkit-scrollbar {
  width: 5px !important;
  height: 10px !important;
}
html::-webkit-scrollbar-track {
  background: #ffffff !important;
  border-radius: 2px !important;
}
html::-webkit-scrollbar-thumb {
  background: #e9e9e9 !important;
  border-radius: 10px !important;
}
html::-webkit-scrollbar-thumb:hover {
  background: #e9e9e9 !important;
}
html::-webkit-scrollbar-corner {
  background: #e9e9e9 !important;
  display: none !important;
}
html {
  background: #ffffff;
}
.feedback {
  padding: 0.16rem;
  font-size: 0.14rem;
}
.feedback .textarea {
  position: relative;
}
.feedback .textarea textarea {
  width: 100%;
  height: 1.8rem;
  background: #F5F7FC;
  border: none;
  resize: none;
  border-radius: 0.03rem;
  font-size: 0.15rem;
  padding: 0.12rem;
  color: #2F3133;
}
.feedback .textarea textarea::placeholder {
  font-size: 0.15rem;
}
.feedback .textarea .count {
  position: absolute;
  max-width: 0.51rem;
  right: 0.17rem;
  bottom: 0.12rem;
  text-align: right;
  color: #656B74;
  font-size: 0.14rem;
}
.feedback .upload {
  margin-top: 0.24rem;
}
.feedback .upload .title {
  color: #2F3133;
  font-size: 0.16rem;
  height: 0.22rem;
  line-height: 0.22rem;
  margin-bottom: 0.2rem;
}
.feedback .upload .van-uploader__preview-delete {
  bottom: unset;
  top: 0;
}
.feedback .upload .van-uploader__preview-image {
  width: 0.78rem;
  height: 0.78rem;
}
.feedback .upload .van-uploader__upload {
  width: 0.78rem;
  height: 0.78rem;
  margin: 0 0.07rem 0.07rem 0;
}
.feedback .upload .van-uploader__preview {
  margin: 0 0.07rem 0.07rem 0;
}
.feedback .submit {
  background: #3455D3;
  width: 3.43rem;
  height: 0.5rem;
  border-radius: 0.02rem;
  color: #ffffff;
  font-size: 0.18rem;
  padding: 0;
  border: none;
  position: fixed;
  bottom: 0.1rem;
}
